/*
html,body {
    font-family: var(--markdown-font-family, -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif)
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 500;
    color: var(--heading-text, #333);
}
*/
h1 {
    border-bottom-width: 0;
}
h4 {
    font-size: 1.1em;
}
pre,
code,
samp {
    font-style: normal;
}

li {
    margin: initial;
    padding: initial;
}

dfn {
    font-style: normal;
    font-weight: bold;
}

dfn>code,
dt>code {
    font-weight: normal;
}

[data-link-type=element]::before,
[data-link-type=element]::after {
    content: initial;
}

.json-schema-type {
    font-family: monospace;
}

.json-schema-required {
    color: rgba(160, 0, 0, 0.9);
}

.json-schema-unit {
    font-style: italic;
    font-size: 0.9em;
}

.json-schema-enum code {
    background-color: rgba(100, 100, 100, 0.03);
    color: #666;
    font-size: 0.8em;
    border: 1px solid rgba(100, 100, 100, 0.9);
    border-radius: 2px;
    padding: 2px;
    margin-top: 6px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
}